.passBody{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.passNav > img{
    position: fixed;
    width: 200px;
    padding-left:10px;
    top:15px;
    object-fit: contain;
}
hr{
    margin-top: 5rem;
}
.passintro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -5rem;
}
.passintro > h1{
    width: 30rem;
    margin-top: 5rem;
}
.passform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    text-align: left;
}
.passform{
    display: flex;
    flex-direction: column;
    position: relative;
}
.passInp{
    margin-top: 2rem;
    height: 4rem;      
    width: 24rem;
    padding-left: 1rem;
    font-weight: 600;
}
.passintro>div{
    font-weight: 600;
}
.passsub{
    border: none;
    outline: none;
    margin-top: 4rem;
    height: 4rem;
    color: #fff;
    background-color: #e50914;
    width: 24rem;
}
.passerr{
    color:#b92d2b;
    position: absolute;
    top:12rem;
    left: -4rem;
}
.existuserwlcm{
    margin-left: 5rem;
}
.passbackerr{
    background-color:#e87c03;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: 23rem;
    margin-bottom: -2rem;
    margin-top: 2rem;
    margin-left: -2rem;
}